In [193]:
import this

In [194]:
5 + 9 # Operation
# Operators
    # +, - , * , / , %, **
    # = , +=, -=, *=, /=, **=
    # == , <, >, >=, <=, !=
    # and (&) or (|)
    
# 5, 9 # Oprands

14

In [195]:
9 + 8 * 2 / 2**2 + (7 -3) * 7
#PEMDAS

#9 + 8 * 2 / 2**2 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 16 / 4 + 28
#9 + 4 + 28
#41

41.0

In [196]:
5 + 8 - 7**2 * 6 + 180 / 2 * (5 * 6)
#PEMDAS

# 5+8-7**2*6+180/2*(30)
# 5+8-7**2*6+180/2*30
# 5+8-49*6+90*30
# 5+8-49*6+2700
# 5+8-294+2700
# 5+8-294+2700
# 13+2700-294
# 2713-294
#2419

2419.0

In [197]:
#copy types
# Shallow Copy
# Deep Copy

a = 3
b = 3

print(a)
print(b)

print(id(a))
print(id(b))

3
3
140715896640384
140715896640384

In [198]:
a = list("pakistan")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
87632712
89012296

In [199]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [200]:
a = 10 // 4 # floor Division
print(a)
print(type(a))

2
<class 'int'>

In [201]:
a = 20.8
print(a)
print(type(a))

20.8
<class 'float'>

In [202]:
a = 8 / 8
print(a)
print(type(a))

1.0
<class 'float'>

In [203]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [204]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [205]:
a = "20"
print(a)
print(type(a))

20
<class 'str'>

In [206]:
a = '1'
print(a)
print(type(a))

1
<class 'str'>

In [207]:
a = """20.7"""
print(a)
print(type(a))

20.7
<class 'str'>

In [208]:
a = '''78'''
print(a)
print(type(a))

78
<class 'str'>

In [209]:
#Index    0       1       2      3     4
names = ["Ali","Hamza","Junaid",200, True] #List[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

['Ali', 'Hamza', 'Junaid', 200, True]
True
<class 'list'>

In [210]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [211]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names

{'Ali', 'Hamza', 'Rashid'}

In [212]:
# Type Casting
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names = list(names)
names[0]

'Ali'

In [213]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [214]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# key hashable data type
# value any data types


data = {
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "fee":500,
    "education":['Matric',"Intermediate","BSCS","DSCS"],
    5: "Pakistan",
    'a' : 2000
}

print(data[5])

Pakistan

In [215]:
a = 28.9
int(a)

28

# Slicing

#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#start ->Included
#end   ->Excluded
#Step  ->Sequance

In [216]:
a = "Pakistan zinda bad"
print(a[::])
print(a[::-1])
print(a[1:3:])
print(a[0:9:] + a[-3:])

Pakistan zinda bad
dab adniz natsikaP
ak
Pakistan bad

# String Data types and Methods

help(str)
str?
str??
?str
??str

In [217]:
a = "MUhammAd Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [218]:
a = "MUHAmmAD QaSIM"
print(a.upper()) # Inline Operation
print(a)

MUHAMMAD QASIM
MUHAmmAD QaSIM

In [219]:
a = "MUHAmmAD QaSIM"
a = a.upper() # In Memory Operation

print(a)

MUHAMMAD QASIM

In [220]:
a = "MUHmMaD QaSIM"
print(a.title())
print(a)

Muhmmad Qasim
MUHmMaD QaSIM

In [221]:
a = "MUHmMaD QaSIM"
print(a.capitalize())
print(a)

Muhmmad qasim
MUHmMaD QaSIM

In [222]:
a = "MUHmMaD QaSIM"
print(a.casefold())
print(a)

muhmmad qasim
MUHmMaD QaSIM

In [223]:
a = "MUHmMaD QaSIM"
print(a.center(2))
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [224]:
a = "MUHmMaD QaSIM"
print(a.count(a))
print(a)

1
MUHmMaD QaSIM

In [225]:
a = "MUHmMaD QaSIM"
print(a.encode())
print(a)

b'MUHmMaD QaSIM'
MUHmMaD QaSIM

In [226]:
a = "MUHmMaD QaSIM"
print(a.endswith(a))
print(a)

True
MUHmMaD QaSIM

In [227]:
a = "MUHmMaD QaSIM"
print(a.expandtabs())
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [228]:
a = "MUHmMaD QaSIM"
print(a.find("QaSIM"))
print(a)

8
MUHmMaD QaSIM

In [229]:
a = "MUHmMaD QaSIM"
print(a.format())
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [230]:
a = "MUHmMaD QaSIM"
print(a.format_map(a))
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [231]:
a = "MUHmMaD QaSIM"
print(a.index("D"))
print(a)

6
MUHmMaD QaSIM

In [232]:
a = "MUHmMaD QaSIM"
print(a.isalnum())
print(a)

False
MUHmMaD QaSIM

In [233]:
a = "MUHmMaD QaSIM"
print(a.isalpha())
print(a)

False
MUHmMaD QaSIM

In [234]:
a = "MUHmMaD QaSIM"
print(a.isascii())
print(a)

True
MUHmMaD QaSIM

In [235]:
a = "MUHmMaD QaSIM"
print(a.isdecimal())
print(a)

False
MUHmMaD QaSIM

In [236]:
a = "MUHmMaD QaSIM"
print(a.isdigit())
print(a)

False
MUHmMaD QaSIM

In [237]:
a = "MUHmMaD QaSIM"
print(a.isidentifier())
print(a)

False
MUHmMaD QaSIM

In [238]:
a = "MUHmMaD QaSIM"
print(a.islower())
print(a)

False
MUHmMaD QaSIM

In [239]:
a = "MUHmMaD QaSIM"
print(a.isnumeric())
print(a)

False
MUHmMaD QaSIM

In [240]:
a = "MUHmMaD QaSIM"
print(a.isprintable())
print(a)

True
MUHmMaD QaSIM

In [241]:
a = "MUHmMaD QaSIM"
print(a.isspace())
print(a)

False
MUHmMaD QaSIM

In [242]:
a = "MUHmMaD QaSIM"
print(a.istitle())
print(a)

False
MUHmMaD QaSIM

In [243]:
a = "MUHmMaD QaSIM"
print(a.isupper())
print(a)

False
MUHmMaD QaSIM

In [244]:
a = "MUHmMaD QaSIM"
print(a.ljust(1))
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [245]:
a = "MUHmMaD QaSIM"
print(a.lower())
print(a)

muhmmad qasim
MUHmMaD QaSIM

In [246]:
a = "        Muhammad            Qasim     "
print(a)

        Muhammad            Qasim

In [247]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a)

38
Muhammad            Qasim
30
        Muhammad            Qasim

In [248]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))
print(a)

38
        Muhammad            Qasim
33
        Muhammad            Qasim

In [249]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.strip())
print(len(a.strip()))
print(a)

38
Muhammad            Qasim
25
        Muhammad            Qasim

In [250]:
a = "        Muhammad            Qasim     "
b = a.split()
b

['Muhammad', 'Qasim']

In [251]:
" ".join(b)

'Muhammad Qasim'

In [252]:
"=====".join(b)

'Muhammad=====Qasim'

In [253]:
intab = "shakeel"
outtab = "1234567"
trantab = str.maketrans(intab, outtab)

str = "this is string example....wow!!!"
print (str.translate(trantab))

t2i1 i1 1tring 6x3mp76....wow!!!

In [254]:
a = "MUHmMaD QaSIM"
print(a.partition(" "))
print(a)

('MUHmMaD', ' ', 'QaSIM')
MUHmMaD QaSIM

In [255]:
a = "MUHmMaD QaSIM"
print(a.replace("a","b"))
print(a)

MUHmMbD QbSIM
MUHmMaD QaSIM

In [256]:
a = "MUHmMaD QaSIM"
print(a.rfind("Q"))
print(a)

8
MUHmMaD QaSIM

In [257]:
a = "MUHmMaD QaSIM"
print(a.rindex("Q"))
print(a)

8
MUHmMaD QaSIM

In [258]:
a = "MUHmMaD QaSIM"
print(a.rjust(4))
print(a)

MUHmMaD QaSIM
MUHmMaD QaSIM

In [259]:
a = "we are pakistan we love our country!"
a.find("pakistan")

7

In [260]:
a = "we are pakistan we love our country!"
a.index("pakistan")

7

In [261]:
b = input("Search:")
print(a[a.index(b): a.index(b)+len(b)])
a[a.index(b): ]

Search:a
a

'are pakistan we love our country!'

In [262]:
card = """
PIAIC ISLAMABAD
Bahria University 
Name: Muhammad Qasim
Father's Name: Muhammad Asalam
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalam

In [263]:
student_name = "Muhammad Qasim"
f_name = "Muhammad Asalam"

card = """
PIAIC ISLAMABAD
Bahria University 
Name: 
Father's Name: 
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name:
Father's Name:

In [264]:
student_name = "Muhammad Qasim"
f_name = "Muhammad Asalam"
fee = 1000

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalam
Fee : 1000

In [265]:
student_name = input("Name:")
f_name = input("Father's name")
fee = int(input("Fee"))

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

Name:Shakeel ur Rehman
Father's nameTariq Mahmood
Fee3000

PIAIC ISLAMABAD
Bahria University
Name: Shakeel ur Rehman
Father's Name: Tariq Mahmood
Fee : 3000

In [266]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a=f"""
Bahria University Islamabad
Student Name: {name}
Father's Name: {fname}
Fee: {fee}
"""
print(a)

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [267]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {}
Father's Name: {}
Fee: {}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [268]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {1}
Father's Name: {0}
Fee: {2}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Aslam
Father's Name: Muhammad Qasim
Fee: 5000

In [269]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {sn}
Father's Name: {fn}
Fee: {f}
"""
print(a.format(f=fee, fn=fname, sn=name))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [270]:
"1" + '1'

'11'

In [271]:
int("1") + int('1')

2

In [273]:
"8" * 2

'88'

In [274]:
2*2

4

In [275]:
"Pak" * 2

'PakPak'

In [277]:
8 * 7 + 9 / 2 ** 20 // 2

56.0

In [278]:
8 * \
7 + \
9 / \
2 ** \
20 // \
2

56.0

In [279]:
names = ["Qasim","Asif","Hamza"]


print(names[0], names[1], names[2])
print(names)
print(*names)

Qasim Asif Hamza
['Qasim', 'Asif', 'Hamza']
Qasim Asif Hamza

In [280]:
name, fname, fee = "Qasim", "Aslam", 2000
print(name, fname,fee)

Qasim Aslam 2000

In [281]:
a=["Qasim", "Aslam", 2000]
name = a[0],
fname = a[1]
fee = a[2]
print(name, fname,fee)

('Qasim',) Aslam 2000

In [282]:
a=["Qasim", "Aslam", 2000]
name, fname, fee = a
print(name, fname,fee)

Qasim Aslam 2000

# Assignment
-